/* -----Navbar---- */

li {
  list-style: none;
}

.logo {
  width: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------Main------- */

.main_page {
  /*height: 600px;*/
  background-image: url(./components/Images/r3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 37%;
}

.main_txt h1{
  padding: 11% 7%;
}


@media screen and (min-width: 480px) {
  .main_page{
    background-image: url(./components/Images/r4.jpg);
    /*background-position: center;*/
  }
  .main_txt h1{
    /*padding: 0% 52%;*/
  }
  
}


/* -------Intro--------- */

.intro_heading {
  background: linear-gradient(to right, rgb(0, 168, 253), green 50%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.key_points p {
  padding-top: 15px;
  word-wrap: break-word;
}


/* -------History------- */

.history_heading {
  background: linear-gradient(to right, rgb(149, 192, 181), rgb(243, 59, 41) 41%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.history_box {
  box-shadow: 8px 9px 10px -5px darkgrey;
}

/* -------DOM-------- */

.dom_heading {
  background: linear-gradient(to right, rgb(173, 133, 174), skyblue 45%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.example{
  width: 70%;
}

.ex{
  width: 85%;
  height: 280px;

}