/* -----Navbar---- */
li {
  list-style: none;
}

.logo {
  width: 50px;
}


/* -------Intro--------- */

.intro_heading {
  background: linear-gradient(to right, rgb(0, 168, 253), green 50%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.points {
  width: 8px;
  height: 8px;
  background: rgba(0, 128, 0, 0.6);
  border-radius: 40%;
  margin-bottom: 2px;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: 'center';
}

.key_points p {
  padding-top: 15px;
  word-wrap: break-word;
}

.key_points span {
  color: brown;
}

/* -------History------- */

.history_heading {
  background: linear-gradient(to right, rgb(149, 192, 181), rgb(243, 59, 41) 41%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.history_box {
  box-shadow: 8px 9px 10px -5px darkgrey;
}

.history_points {
  width: 8px;
  height: 8px;
  background: rgba(249, 54, 61, 0.6);
  border-radius: 40%;
  margin-bottom: 2px;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: 'center';
}

.point_img {
  width: 10px;
  height: 10px;
}

/* -------DOM-------- */

.dom_heading {
  background: linear-gradient(to right, rgb(173, 133, 174), skyblue 45%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---------Interview------------ */

.ques h3{
  padding-top: 20px;
}
